@import '../../styles/shared-styles.scss';

.country-info-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1536px) {
    width: 80%;
  }
  @media only screen and (max-width: 1100px) {
    width: 90%;
  }
  @media only screen and (max-width: 1000px) {
    width: 80%;
    flex-direction: column;
  }
  @media only screen and (max-width: 600px) {
    width: 95%;
  }
  h1 {
    width: 100%;
  }
  .country-info-container {
    flex-basis: 45%;
    margin: 25px 0;
    padding: 0 35px;
    font-family: $textFontFamily;
    order: 2;
    @media only screen and (max-width: 1000px) {
      order: 1;
      padding: 0 15px;
    }
    ul {
      li {
        @include font-size(20);
        font-weight: bold;
        padding: 5px 0;
        color: $text-headers-color;
        span {
          @include font-size(20);
          font-weight: normal;
          padding-left: 10px;
          color: $text-color;
          line-height: 1.6rem;
        }
      }
    }
  }

  .country-photos-container {
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    order: 1;
    align-self: center;
    @media only screen and (max-width: 1000px) {
      order: 2;
    }
    img {
      width: calc((100% / 3) - 0.5%);
      margin: 0.25%;
      max-height: 160px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;
      z-index: 1;
      transition: transform 0.5s;
      box-shadow: 0 1px 4px rgba(0,0,0,0.4),
                  0 0 40px rgba(0,0,0,0.1) inset;
      &:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 0 4px 6px 0 rgba(213,213,213,0.6);
      }
      @media only screen and (max-width: 768px) {
        width: calc((100% / 2) - 0.5%);
      }
      @media only screen and (max-width: 426px) {
        width: calc(100% - 0.5%);
        margin: 3px 0;
      }
    }
  }

  button {
    display: block;
    border: none;
    background: none;
    max-width: 150px;
    margin: 25px auto 50px auto;
    font-size: 45px;
    color: rgb(86,86,86);
    text-align: center;
    transition: color 0.2s;
    cursor: pointer;
    order: 3;
    &:hover {
      color: $headers-color;
    }
    i {
      font-size: 25px;
    }
    span {
      font-size: 25px;
      padding-left: 6px;
      font-family: $textFontFamily;
      font-weight: bold;
    }
  }
}
